<h1>Exercício 2.1</h1>
<h2>1. Vimos que n = 42 é legal. E 42 = n?</h2>

In [1]:
42 = n

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3090476294.py, line 1)

<h2>2. E x = y = 1 ?</h2

In [6]:
x = y = 1

In [7]:
print(x = y = 1)

SyntaxError: invalid syntax (2514765735.py, line 1)

<h2>3. O que acontece se você adicionar um ponto e vírgula no final de uma instrução em Python?</h2>

In [8]:
x = 42;

<h2>4. Em notação matemática, é possível multiplicar x e y desta forma: xy. O que acontece se você tentar fazer o mesmo no Python?</h2>

In [11]:
x = 2
y=3
xy

NameError: name 'xy' is not defined

<h1>Exercício 2.2</h1>
<h2>Pratique o uso do interpretador de Python como uma calculadora:</h2>
<h2>1. O volume de uma esfera com r é 4/3 pi r³. Qual é o volume ede uma esfera com raio 5?</h2>

In [13]:
r = 5
print("O volume é "+str((4/3)*(3.14)*(r**3)))

O volume é 523.3333333333334

<h2>2. Suponha que o preço de capa de um livro seja 24,95 , mas as livrarias recebem um desconto de 40%. O transporte custa 3,00, para o primeiro exemplar e 75 centavos para cada exemplar adicional. Qual é o custo total de atacado para 60 cópias?</h2>

In [15]:
custoTotal = (0.6 * (24.95 * 60)) + 3 + (59 * 0.75)
print("O custo total é de ", str(custoTotal))

O custo total é de  945.4499999999999

<h2>3. Se eu sair da minha casa às 6:52 e correr 1 quilômetro a um certo passo(8min15s por quilômetro), então 3 quilômetros a um passo mais rápido(7min12s por quilômetro) e quilômetro no mesmo passo usado em primeiro lugar, que horas chego em casa para o café da manhã?</h2>

In [24]:
horaFinal = (6*60*60)+(52*60) + 2*((8*60) + 15) + 3*((7*60)+12)
segFinal = horaFinal % 60
horaFinal //= 60
minFinal = horaFinal % 60
horaFinal //= 60
print("O horário de chegada é "+horaFinal+":"+minFinal+":"+segFinal)

TypeError: can only concatenate str (not "int") to str